<div><h3>Here's a snapshot of what is happening this month</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 event" ng-repeat="event in ctrl.events"><!--upcoming events, say can upload up to 10 photos in db only-->
            <h4><label>Event Title: </label> {{event.title}}</h4>
            <h4><a href="#" class="thumbnail" ><img src="{{event.pdfurl}}"/></a></h4>
        </div>
    </div>
</div>
    <br>
<div><h3>Just a glimpse of the last month events ...</h3>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 event" ng-repeat="event in ctrl.events"><!--past events, say can upload up to 10 photos in db only-->
            <h4><label>Event Title: </label> {{event.title}}</h4>
            <h4><a href="#" class="thumbnail" ><img src="{{event.url}}"/></a></h4>
            <h4><label>Event Photos: </label> {{event.url}}</h4>
            <h4> {{event.url}}</h4>
        </div>
    </div>
</div>