<div class="col-sm-2 col-lg-4">
        <div class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration</h1>
        <form class="form-inline" name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
        
        <div class="form-group">
                <label for="firstName">First Name</label> 
                <input id="firstName" name="firstName" type="text" placeholder="Adam" class="form-control" ng-model="ctrl.user.firstName" />
        </div>

        <div class="form-group">
                <label for="lastName">Family Name</label> 
                <input id="lastName" name="lastName" type="text" placeholder="Adam" class="form-control" ng-model="ctrl.user.lastName" />
        </div>

        <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="something secret" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" placeholder="something secret" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/> 
                <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Confirm Password is required
                        </div>
                        <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                                <span class="glyphicon glyphicon-alert"></span> Password do not match
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input id="contactNumber" name="contactNumber" type="number" class="form-control" ng-model="ctrl.user.contactNumber" ng-pattern= "ctrl.contactNumberFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.contactNumber.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid (e.g 384757473)
                        </div>
                </div>
        </div>

        <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M" ng-checked="true"/>Male
                <br/>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F"/>Female
                
        </div>

        <div class="form-group">
                <label for="nationality">Nationality</label> 
                <select ng-model="ctrl.user.selectedNationality" class="form-control" id="nationality">
                        <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
                </select>
        </div>

<!--        <div class="form-group">
                <label for="age">Your current age</label>
                <select ng-model="ctrl.user.selectedAge" class="form-control" id="age">
                        <option ng-repeat="age in ctrl.ages" value="{{age.value}}">{{age.name}}</option><br/>
                </select>
        </div>

        <div class="form-group">
                <label for="noKid">How many child(ren) do you have?</label>
                <select ng-model="ctrl.user.selectedNoKid" class="form-control" id="noKid">
                        <option ng-repeat="noKid in ctrl.noKids" value="{{noKid.value}}">{{noKid.name}}</option><br/>
                </select>
        </div>-->

        <div class="form-group">
                <label for="pCode">Which area do you stay?</label>
                <br/>
                <input id="pCode" name="pCode" ng-model="ctrl.user.pCode" type="number" placeholder="postal code"/>
                <div data-ng-show="ctrl.registrationform.pCode.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Postal Code should not be less than 6 digits.
                </div>
                <div data-ng-show="ctrl.registrationform.pCode.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span> Postal Code should not be more than 6 digits.
                </div>
        
        </div>

        <div class="form-group">
                <label for="category">Which category are you interested in?</label>
                <br/>
                <select ng-model="ctrl.user.selectedCategory" class="form-control" id="category">
                        <option ng-repeat="category in ctrl.categories" value="{{category.value}}">{{category.name}}</option>
                </select>

        </div>
        
        <div class="form-group">
        <hr/>
        <input id="submit" name"submit" type="submit" class="btn btn-success" onclick="ctrl.onSubmit('lg')"/>
        <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
                
        <script>
        function myFunction() {
                alert("You have successfully registered! Welcome on board the Parents Connect.");
        }
        </script>
        </div>
                
        </form>

</div>
</div>