<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>Parent Connect</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />  
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/index.css" />
  
  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/css/index.css" />
  

</head>
<body>

  <section id="home" class="parallax-section">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-5 col-md-7 col-sm-12">
          <div class="home-thumb">
            <h1 class="wow fadeInUp" data-wow-delay="0.4s">Welcome to ParentConnect</h1>
            <p class="wow fadeInUp black-color" data-wow-delay="0.6s">As parents, we have so much to share and to learn. We unwittingly embark on a journey of never ending learning when we became parents. Join us and know that you are in company of people who want the same thing - for ourselves and our children to thrive in our world. </p>
            <a href="views/home.html" ng-click="ctrl.gotohome()"  class="wow fadeInUp smoothScroll btn btn-default section-btn" data-wow-delay="1s">discover more</a>
          </div>
        </div>

      </div>
    </div>
  </section>

<!-- SERVICE SECTION -->
<section id="service" class="parallax-section">
  <div class="container">
    <div class="row">

      <div class="wow fadeInUp section-title" data-wow-delay="0.2s">
        <!-- SECTION TITLE -->
        <h2>Our Goal</h2>
        <p>We want to connect as parents to fellow parents as we embreace the journey of raising up our wonderful children. </p>
      </div>

      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s"  id="button">
        <div class="service-thumb">
          <i class="fa fa-smile-o"></i>
          <h4>Who We Are</h4>
          <p>We are part of Central Christian Church. <a href="/views/home.html">Home</a></p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="service-thumb bg-grey">
          <i class="fa fa-camera"></i>
          <h4 class="white-color">Upcoming Events</h4>
          <p>Be it you are parent of 1 or many, preschoolers to adult children, come and check out our <a href="home.html">events</a>.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="service-thumb">
          <i class="fa fa-picture-o"></i>
          <h4>Past Events</h4>
          <p>For members only.</p>
          <p>You can view and download the photos taken at the events.</p>
        </div>
      </div>

<!--            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                 <div class="service-thumb">
                      <i class="fa fa-clone"></i>
                      <h4>Join Us</h4>
                      <p>If you are new to us, <a href="/views/home.html">join us</a> as members so that you can sign up and receive notifications of upcoming events.</p>
                 </div>
            </div>-->
            
    </div>
  </div>
</section>





<!-- core libraries -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- addon libraries -->
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

</body>
</html> 